.page {
  display: flex;
  justify-content: center;
  padding: 90px 20px 120px;
}

.card {
  width: 100%;
  max-width: 720px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 28px;
}

.form {
  width: 100%;
}

.input {
  width: 100%;
  height: 52px;
  padding: 0 18px;
  border: 1px solid #e5e5e5;
  margin-bottom: 22px;
  font-family: 'DM Sans';
  font-size: 13px;
}

.input::placeholder {
  color: #9a9a9a;
  letter-spacing: 0.5px;
}

.passwordWrap {
  position: relative;
}

.eye {
  position: absolute;
  right: 15px;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #777;
}

.forgot {
  display: inline-block;
  font-size: 13px;
  color: #000;
  margin-bottom: 28px;
  text-decoration: none;
}


.btnSubmit {
  position: relative;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 54px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}

.btnSubmit span {
  position: relative;
  z-index: 5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}


.btnSubmit::before {
  content: "";
  position: absolute;
  width: 220%;
  height: 320%;
  background: #ec9d35;
  border-radius: 50%;
  left: -60%;
  bottom: -180%;
  z-index: 2;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}


.btnSubmit::after {
  content: "";
  position: absolute;
  width: 220%;
  height: 320%;
  background: #000000;
  border-radius: 50%;
  left: -60%;
  bottom: -180%;
  z-index: 1;
  transform: translateY(-130%);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.btnSubmit:hover::before {
  transform: translateY(-100%);
}

.btnSubmit:hover::after {
  transform: translateY(0);
}

.switch {
  margin-top: 18px;
  font-size: 13px;
  color: #000;
}

.switch a {
  color: #ec9d35;
  font-weight: 600;
  text-decoration: none;
}

.switch a:hover {
  text-decoration:  underline;
}