
.hero {
position: fixed;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  background: #000;
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: 6% 3%;
}

/* LEFT */
.left {
  width: 38%;
  padding: 90px 70px;
  display: flex;
  align-items: center;
  color: #fff;
}

.text {
  max-width: 520px;
  color: #fff;
}

.eyebrow {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.8;
}

.text h1 {
  font-size: 3.8rem;
  line-height: 1.1;
  color: #fff;
  margin: 16px 0;
}

.text p {
  opacity: 0.9;
  line-height: 1.7;
}

.btn {
  display: inline-block;
  margin-top: 26px;
  font-weight: 600;
  color: #000;
  background: #ec9d35;
  padding: 14px 26px;
  border-radius: 6px;
  text-decoration: none;
}

/* RIGHT */
.panels {
  width: 62%;
  display: flex;
  gap: 16px;
  padding: 30px;
}

.panel {
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: filter 0.5s ease;
}

.panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panel:not(.active) {
  filter: brightness(0.45);
}
.panel.active {
  filter: brightness(1);
}

:global(.page-content) {
  margin-top: 80vh;
  position: relative;
  z-index: 2;
  background: #fff;
  padding-top: 20px;
  /* border-radius: 40px 40px 0 0; */
}
