.wrapper {
  width: 85%;
  padding: 60px 0;
  background: #ffffff;
  overflow: hidden;
  margin: 0   auto;
}

.heading {
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.18em;
  font-weight: 500;
  color: #b7b7b7;
  margin-bottom: 36px;
}

.marquee {
  width: 100%;
  overflow: hidden;
    position: relative;
  overflow: hidden;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 8%,
    black 92%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 8%,
    black 92%,
    transparent 100%
  );
}

.track {
  display: flex;
  gap: 24px;
  width: max-content;
  animation: scroll 40s linear infinite;
}

.marquee:hover .track {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.pill {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 42px 8px 10px;
  background: #f3f3f3;
  border-radius: 999px;
  text-decoration: none;
  color: #181818;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  transition: background 0.35s ease, color 0.35s ease;
}

.pill:hover {
  background: #000000;
  color: #ffffff;
}

.icon {
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.text {
  line-height: 1;
}
